<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Nutrición-UCP está comprometida con el cuidado de la salud, la protección del medio ambiente y la vida activa"/>
        <meta name="keywords" content="nutrición, alimentación, vida sana, saludable, calidad de vida"/>
        <meta name="author"content="Bordon Sbardella Felix Raul, Gonzalez Regis Lucas, Rios Anahi Ailen"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
        <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="../static/style/style.css" />
        <title>Empresa Nutricion-AI - Cursos Disponibles</title>
    </head>
    <header>
        <nav class="navbar navbar-expand-lg bg-outline-light">
            <div class="container-fluid">
                <a href="index.html"><img src="../static/images/logo/nuevoLogo1.jpeg" alt="Logo" width="75"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="cursosDisponibles.html">Cursos Disponibles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="nuestrosProductos.html">Nuestros Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="clientesOpiniones.html">Nuestros Clientes Opinan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="contactos.html" target="_blank">Contactos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="quienesSomos.html">Quienes Somos</a>
                        </li>
                    </ul>
                   <form class="d-flex" role="search">
                       <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search"/>
                       <button class="btn btn-outline-success" type="submit">Buscar</button>
                   </form>
                </div>
            </div>
        </nav>
    </header>
    <body>
        <div class="container-fluid" style="background-color: rgb(3, 100, 63)">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8 col-xl-10">
                    <div class="card text-black" style="border-radius: 30px">
                        <div class="card-body p-md-5">
                            <div class="row text-center">
                                <h1>Cursos Disponibles</h1>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="bg-image hover-overlay ripple text-center" data-mdb-ripple-color="light">
                                            <img src="../static/images/imageExample/calidadDeVida.jpg" class="img-fluid" width="369"/>
                                            <a href="#!">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Calidad de Vida</h5>
                                            <a href="calidadVida.html" class="btn btn-outline-success">Acceder</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <div class="bg-image hover-overlay ripple text-center" data-mdb-ripple-color="light">
                                            <img src="../static/images/imageExample/planDeActividadFisica.jpg" class="img-fluid" width="298"/>
                                            <a href="#!">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Plan de Actividad Fisica</h5>
                                            <a href="planActividadFisica.html" class="btn btn-outline-success">Acceder</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                            <img src="../static/images/imageExample/desarrolloSustentable.jpg" class="img-fluid"/>
                                            <a href="#!">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Desarrollo Sustentable</h5>
                                            <a href="desarrolloSustentable.html" class="btn btn-outline-success">Acceder</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </body>
    <footer class="text-center text-lg-start bg-white text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Right -->
            <div>
                <a href="#" class="me-4 link-secondary">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="me-4 link-secondary">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="me-4 link-secondary">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#" class="me-4 link-secondary">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-9 col-lg-2 col-xl-2 mx-auto">
                        <!-- Content -->
                        <a href="index.html"><img src="../static/images/logo/nuevoLogo1.jpeg" width="120"/></a>
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-8 col-lg-2 col-xl-2 mx-auto">
                        <p>Nutricion-AI esta comprometida con el cuidado de la salud, la protección del medio ambiente y la vida activa.</p>
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contactos</h6>
                        <p><i class="fas fa-home me-3 text-secondary"></i> Av 9 de Julio,1456</p>
                        <p><i class="fas fa-envelope me-3 text-secondary"></i>nutricionucp@gmail.com</p>
                        <p><i class="fas fa-phone me-3 text-secondary"></i> 3704- 699783</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <div class="text-uppercase fw-bold mb-4 text-center">
            <h6>Desarrolladores<p><a>Lucas, Raul, Anahi</a></p></h6>
        </div>
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(68, 64, 64, 0.356)">
            © 2023 Copyright:
            <a class="text-reset fw-bold" href="#" style="color: rgb(0, 0, 0)">UCP Educa</a>
        </div>
        <!-- Copyright -->
    </footer>
</html>
